@import url(//fonts.googleapis.com/css?family=Ubuntu+Mono:400,700);

html {
  box-sizing: border-box;
  font-family: 'Ubuntu Mono', 'Lucida Console', Monaco, monospace;
}

*,
*:before, *:after {
  box-sizing: inherit;
}

body {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

h1 {
  font-size: 2em;
  margin: 0;
}

a,
a:visited {
  color: #0074D9;
  text-decoration: none;
}

section,
nav {
  float: right;
  padding: 20px;
}

section {
  width: 70%;
}

nav {
  text-align: center;
  width: 30%;
}

nav h2 {
  font-size: 0.7em;
  margin-bottom: 40px;
}

nav a {
  display: block;
  margin-top: 10px;
}

@media (max-width: 769px) {
  section,
  nav {
    float: none;
    padding: 10px;
    width: 100%;
  }

  nav h2 {
    margin-bottom: 20px;
  }
}

